<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>{{_i}}Color Guide{{/i}}</h1>
    <p class="lead">{{_i}}Pac-12 web color definitions.{{/i}}</p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span6 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#black"><i class="icon-chevron-right"></i> {{_i}}Grays/Blacks{{/i}}</a></li>
          <li><a href="#primary"><i class="icon-chevron-right"></i> {{_i}}Primarys{{/i}}</a></li>
          <li><a href="#accent"><i class="icon-chevron-right"></i> {{_i}}Accents{{/i}}</a></li>
        </ul>
      </div>
      <div class="span18">



        <!-- Blacks
        ================================================== -->
        <section id="black">
          <div class="page-header">
            <h1>{{_i}}Blacks &amp; Grays{{/i}}</h1>
          </div>

          {{! black }}
          <p>{{_i}}All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.{{/i}}</p>
          <div class="bs-docs-example">
            <ul>
              <li><div class="black pull-left"></div> Black</li>
              <li><div class="darkergray pull-left"></div> Dark Gray</li>
              <li><div class="darkgray pull-left"></div> Darker Gray</li>
              <li><div class="gray pull-left"></div> Gray</li>
              <li><div class="lightgray pull-left"></div></li>
              <li><div class="lightergray pull-left"></div></li>
              <li><div class="white pull-left"></div></li>
          </div>
        </section>

        <section id="primary">
          <div class="page-header">
            <h1>{{_i}}Primary Colors{{/i}}</h1>
          </div>
          {{! primary }}
          <p>{{_i}}All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.{{/i}}</p>
          <div class="bs-docs-example">
            <h1>h1. {{_i}}Heading 1{{/i}}</h1>
            <h2>h2. {{_i}}Heading 2{{/i}}</h2>
            <h3>h3. {{_i}}Heading 3{{/i}}</h3>
            <h4>h4. {{_i}}Heading 4{{/i}}</h4>
            <h5>h5. {{_i}}Heading 5{{/i}}</h5>
            <h6>h6. {{_i}}Heading 6{{/i}}</h6>
          </div>
        </section>

        <section id="accent">
          <div class="page-header">
            <h1>{{_i}}Accent Colors{{/i}}</h1>
          </div>
          {{! primary }}
          <p>{{_i}}All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.{{/i}}</p>
          <div class="bs-docs-example">
            <h1>h1. {{_i}}Heading 1{{/i}}</h1>
            <h2>h2. {{_i}}Heading 2{{/i}}</h2>
            <h3>h3. {{_i}}Heading 3{{/i}}</h3>
            <h4>h4. {{_i}}Heading 4{{/i}}</h4>
            <h5>h5. {{_i}}Heading 5{{/i}}</h5>
            <h6>h6. {{_i}}Heading 6{{/i}}</h6>
          </div>
        </section>



      </div>{{! /span18 }}
    </div>{{! row}}

  </div>{{! /.container }}
